table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    
    th {
        text-align: left;
        border-bottom: solid black 0.5px;
        padding: 10px 20px;
    }

    .check{
        border: none;
    }

    .info {
        text-align: center;
    }

    .right {
        text-align: center;
    }
}
