table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    border-bottom: solid black 1px;
}

.check {
    border: none;
    width: 5px;
}

.name {
    text-align: left;
    padding: 0px 25px;
}

.right {
    width: 50px;
}

.info {
    width: 200px;
}