td {
	text-align: center;
	padding: 15px 0px;
	border-bottom: solid black 1px;
}

.check {
	border: none;
	text-align: left;
}

.name {
	text-align: left;
	padding: 0px 25px;
}

.right {
	text-align: center;
}

.info {
	text-align: left;
}
