td {
	text-align: left;
	border-bottom: solid black 0.5px;
	padding: 10px 20px;
}

.check {
	border: none;
	padding: 0px;
	width: 10px;
	text-align: center;
}

.info {
	text-align: center;
	width: 110px;
}

.right {
	text-align: center;
	width: 50px;
	padding: 5px;
}